.About {
  max-width: 1000px;
  padding: 0 30px;
  margin: 400px auto;
}

.About h2 {
  font-family: var(--button-font);
  font-size: 2rem;
  color: var(--lightest-slate);
}

.About span {
  color: var(--green);
  font-size: 1.5rem;
}

.About p {
  font-size: 1.2rem;
}

.About-list {
  display: flex;
}

.About li {
  display: list-item;
  margin: 8px;
  font-size: 1.1rem;
}