.header {
  display: flex;
  font-family:  var(--button-font);
  font-size: 0.6em;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: fixed;
  z-index: 11;
  width: 100%;
  background-color: var(--navy);
}

.menu {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 20px;
}