.Icons {
  position: fixed;
  left: 0;
  bottom: 0; 
}

.Icons ul {
  list-style-type: none;
}

.Icons li {
  padding: 8px;
}

.hightlight {
  color: var(--light-slate);
  height: 22px;
}

@media screen and (max-width: 700px) {
  section.Icons {
    align-items: center;
    position: relative;
  }
}